body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color:#cfc9c9;
}

/* Global */
.container{
  width:90%;
  margin:auto;
  overflow:hidden;
}

ul{
  margin:0;
  padding:0;
}

.button_1{
  height:38px;
  background:#e8491d;
  border:0;
  padding-left: 20px;
  padding-right:20px;
  color:#ffffff;
}

.dark{
  padding:15px;
  background:#35424a;
  color:#ffffff;
  margin-top:10px;
  margin-bottom:10px;
}

/* Header **/
header{
  background:#35424a;
  color:#ffffff;
  padding-top:35px;
  min-height:70px;
  border-bottom:#e8491d 3px solid;
  animation-name: babe;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-delay: 3s;

}

@keyframes babe {
  0%   {background-color: rgb(72, 68, 73);}
  20%  {background-color: rgb(78, 20, 214);}
  40%  {background-color: rgb(161, 47, 47);}
  60%  {background-color: rgb(126, 65, 121);}
  80%  {background-color: rgb(190, 156, 84);}
  100% {background-color: rgb(209, 68, 25);} 
}


header a{
  color:#ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
}

header a:link, a:visited{
  background-color: #35424a;
  color:rgb(126, 190, 169);
  padding: 12px 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;

}

header a:hover, a:active{
  background-color: #e8491d;
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;

}

header li{
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float:left;
}

header #branding h1{
  margin:0;
  font-size: 35x;
  text-shadow: 1px 2px 3px #cccccc;
  font-family: 'Times New Roman', Times, serif;
}

header #branding h1 .highlight{
  margin:0;
  font-size: 40px;
  text-shadow: 1px 2px 3px #cccccc;
  letter-spacing: 5px;
}

header nav{
  float:right;
  margin-top:10px;
}

header .highlight, header .current a{
  color:#e8491d;
  font-weight:bold;
 
}

header li a, .dropbtn {
  background-color: #4CAF50 ;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

header nav li .dropdown {
  display: inline-block;
}

header li a:hover, .dropdown:hover, .dropbtn{
  background-color: red;
  color:#5e57bb;
  font-weight:bold;
}

header nav .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


header nav .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

header nav  .dropdown-content a:hover {background-color: #f1f1f1;}

header nav .dropdown:hover .dropdown-content {
  display: block;
}


/* Showcase */
#showcase{
  min-height:600px;
  background:url('../img/showcase.jpg') no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.9;
  text-align:center;
  color:#ffffff;

}

#showcase h1{
  margin-top:200px;
  font-size:55px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-bottom:1px;
  text-shadow:2px 2px 5px  #ababab;
  border: 1px solid black;
  outline-style: solid;
  outline-color: #e8491d;
  outline-width: thin;
  position: relative;
  
}


#showcase p{
  margin-top: -2px;
  font-size:15px;
  font-style: italic;
  font-family: 'Brush Script MT', monospace, cursive;
  animation: mymove 15s infinite;
  animation-delay: 1s;
  animation-timing-function: ease-in-out, repeat;
  position: relative;
}


@keyframes mymove {
  from {right: 0px;}
  to {right: 1250px;}
 
  
}
 


/* Newsletter */
#newsletter{
  padding:15px;
  color:#ffffff;
  background:#35424a
}

#newsletter h1{
  float:left;
  font-variant: small-caps;
}

#newsletter form {
  float:right;
  margin-top:15px;
}

#newsletter input[type="email"]{
  padding:4px;
  height:25px;
  width:250px;
}

/* Boxes */
#boxes{
  margin-top:20px;
}

#boxes .box{
  float:left;
  text-align: center;
  width:31%;
  padding:10px;
}

#boxes .box img {
  width:30%;
}

#boxes .box img:hover{
  background-color: #64b3b3;
  width: 30%;
  transition: width 2s, height 2s, transform 2s, linear 1s;
}

#boxes .box h3:hover, h3:active{
  background-color: #839292;
}


/* Sidebar */
aside#sidebar{
  float:right;
  width:30%;
  margin-top:10px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
  width:90%;
  padding:5px;
}

/* Main-col */
article#main-col{
  float:left;
  width:65%;
}

/* Services */
ul#services li{
  list-style: none;
  padding:20px;
  border: #cccccc solid 1px;
  margin-bottom:5px;
  background:#e6e6e6;
}

/*Gate*/
#gate {
  background-color: #35424a;
  background-position: center;
  background-size: cover;
  overflow: scroll;
  border: 1px solid #e8491d;
  height: 100px;
}

#gate ol {
  background: #b62c2c;
  padding: 20px;
}

#gate ol li {
  background: #bd7e7e;
  color: darkred;
  padding: 6px;
  margin-left: 25px;
 
}



/*Brand*/
#brand {
  min-height:600px;
  background:url('../img/brand.jpg') no-repeat;
  background-position: center;
  background-size: contain;
  text-align:center;
  color:#c4bcd6;
}

#brand h1 {
  margin-top:170px;
  font-size:55px;
  margin-bottom:1px;
  text-shadow:2px 2px 5px  #ababab;
}

#brand p {
  margin-top: -5px;
  font-style: italic;
}

/*Contact*/
#contact{
  padding-top: 15px;
  color:#ffffff;
  background:#35424a;
}

#contact h1{
  float:none;
  text-decoration: underline rgb(43, 13, 13) double 3px;
}

#contact form {
  float:center;
  margin-top:15px;
}

#contact input[type="email"]{
  padding:4px;
  height:25px;
  width:250px;
}

footer{
  padding:20px;
  margin-top:20px;
  color:#ffffff;
  border-top:#35424a 3px solid;
  border-bottom:#35424a 3px solid;
  background-color:#4d3f39;
  text-align: center;
  animation-name: babe;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-delay: 3s;
}

/* Media Queries */
@media(max-width: 768px){
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar{
    float:none;
    text-align:center;
    width:100%;
  }

  header{
    padding-bottom:20px;
  }

  #showcase h1{
    margin-top:40px;
  }

  #newsletter button, .quote button{
    display:block;
    width:100%;
  }

  #newsletter form input[type="email"], .quote input, .quote textarea{
    width:100%;
    margin-bottom:5px;
  }
}
